$btncolor: #17e9e0;

.btn {
  font-size: 18px;
  border: 1px solid rgba(66, 173, 180, 0);
  color: $btncolor;
  background: none;
  padding: 10px 10px;
  margin: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: $btncolor;
  transition: 0.5s;
  z-index: -1;
  top: 0;
  border-radius: 0 0 50% 50%;
}

.btn:hover::before {
  height: 180%;
}
/*

*/
.btn2 {
  font-size: 18px;
  border: 1px solid rgba(71, 106, 109, 0);
  color: white;
  background: $btncolor;
  padding: 10px 10px;
  margin: 10px;
  transition: 0.5s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
  cursor: pointer;
}

.btn2:hover {
  color: $btncolor;
}

.btn2::before {
  content: "";
  position: absolute;

  left: 0;
  width: 100%;
  height: 0%;
  background: white;
  transition: 0.5s;
  top: 0;
  border-radius: 0 0 50% 50%;
  z-index: -1;
}

.btn2:hover::before {
  height: 180%;
}
